<div class="container-divider"></div>
<div class="container">
  <article id="main-content" class="article">
    <header class="article-header">
      <h1 class="article-title">{{article.title}}</h1>
    </header>
    <div class="article-content">
      {{{article.body}}}
    </div>
  </article>
</div>
