<header class="digify-header">
  <div class="digify-header__inner container">
    <a class="digify-header__brand" href="{{home_path}}">
      <img
        src="{{asset 'settings/digify-cx-logo.png'}}"
        alt="Digify CX"
        class="digify-header__logo"
      >
      <span class="digify-header__brand-text">Digify CX Group</span>
    </a>

    <div class="digify-header__nav">
      {{> user_profile}}
    </div>
  </div>
</header>
